@import "../variables.scss";

.header {
    background: $bg;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: $border;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    &__logo {
        img {
            height: auto;
            width: 4rem;
        }
    }

    &__navbar {
        a {
            margin: 0 1rem;
            font-size: 1.6rem;
            color: #fff;

            &:hover {
                color: $main-color;
                border-bottom: 0.1rem solid $main-color;
                padding-bottom: 0.5rem;
            }
        }
    }

    &__icons {
        &--icon {
            color: #fff;
            cursor: pointer;
            font-size: 2.5rem;
            margin-left: 2rem;

            &:hover {
                color: $main-color;
            }
        }

        #menu-btn {
            display: none;
        }
    }

    &__search-form {
        position: absolute;
        top: 115%;
        right: 7%;
        background: #fff;
        width: 50rem;
        display: flex;
        align-items: center;
        transform: scaleY(0);
        transform-origin: top;

        input {
            height: 100%;
            width: 100%;
            font-size: 1.6rem;
            color: $black;
            padding: 1rem;
            text-transform: none;
        }

        label {
            cursor: pointer;
            font-size: 2.2rem;
            margin-right: 1.5rem;
            color: $black;

            &:hover {
                color: $main-color;
            }
        }
    }

    &__cart-items-container {
        position: top;
        top: 100%;
        right: 0;
        height: calc(100vh - 9.5rem);
        width: 35rem;
        background: #fff;
        padding: 0 1.5rem;
    }
}